//overrides
.form-control:focus {
  border-color: #40a745 !important;
  box-shadow: none;
}
.form-control::placeholder {
  color: #656565 !important;
  font-weight: 300 !important;
}

.bg-custom {
  background-color: #40a745;
}

.form-check-input:checked {
  background-color: #40a745 !important;
  border-color: #40a745 !important;
}
